{% extends 'home/base.html' %}

{% block content %}
<h1> Harvard University </h1>
	<h3> <p style="text-align: center;"> Harvard Universtity is one of the best Universitys out there, 
	if you graduate here you're sure for succsess.
	</p>
	<a href="https://www.harvard.edu/"  >harvard.edu</a> </h3>
<h2>Possible Majors</h2>
<p>
	<ol>
		<li>Neuroscience</li>
		<li>Goverment</li>
		<li>Psychology</li>
		<li>Computer Science</li>
		<li>Biomedical Engineering</li>
		<li>Mathematics</li>
	</ol>
</p>
<h2> Information you'll need to get in</h2>
<p>
	a minimum gpa of 4.18 is required for harvard
	For SAT you need 1460-1510
	act scores of 33-35 are needed
</p>
{% endblock %}

<!-- https://tinyurl.com/4rk7yvx4 -->