{% extends 'home/base.html' %}

{% block content %}
<h1>Washington State University</h1>
	<p style="text-align: center;">Washington State University
	 offers a wide selcetion of majors, for you to choose from.
	</p>
	<a href="https://wsu.edu/"  >wsu.edu</a>
<h2>Possibale majors</h2>
<p>
	<ol>
		<li>Criminal Justice/Police Science</li>
		<li>Biochemistry</li>
		<li>Mathematics</li>
		<li>Accounting</li>
		<li>Digital Communication and Media/Multimedia</li>
		<li>Neuroscience</li>
		<li>Registered Nursing/Registered Nurse</li>
	</ol>
</p>
<h2> What you need to know to get in </h2>
<p>
	You need a GPA of 3.4 so you should mostly get A's and B's.
	You'll want a sat score of 1000 or better, you should aim higher.
	Washington state doesn't have a minimum ACT requirement, but if you apply with a 20 or below you'll have a tough time getting in
</p>
	

{% endblock %}


<!-- http://minify.link/3Oy -->