{% extends 'home/base.html' %}

{% block content %}
<h1> Harvard University </h1>
	<h3> <p style="text-align: center;"> Harvard University is one of the best Universities out there, 
	if you graduate here you're sure for success
	</p>
	<a href="https://www.harvard.edu/"  >harvard.edu</a> </h3>
	<h2>Some fun facts about harvard</h2>
<p>
	<ol>
		Harvard holds real estate totalling 5,457 acres of land, the size of over 4000 football fields! But it hasn’t always been this large. Classes at Harvard began in the summer of 1638 in a single frame house and a college yard. Of the total land owned, the main university campus holds only about 4%.
		With all that land, there has got to be a couple of libraries, right? Harvard has some of the world’s most famous university libraries that boasts a collection that is the oldest in America. There are 79 libraries, the main and largest one is known as the Widener Memorial Library. It houses about 3.5 million works in over 100 languages, and 92 kilometres of shelves across ten levels. Four of the floors are underground because they needed to expand and could not go anywhere but down.
		Back in 2012, about 125 students got caught cheating on a govnment class exam. most the students caught were made to withdraw from the university. yale the arch nemeisi of harvard cam up with a briliant and humorous shirt to wear during the Harvard-Yale football game, it read "Try cheating your way out of this one" Talk about harsh!
	</ol>
</p>
<h2>Possible Majors</h2>
<p>
	Harvard is a great university, There are so many potential majors to pick from that it might get hard to pick which one you want.
	If you are having a challenge picking one here are my personal choices, they might give you some ideas.
	And even If this list doesn't help you still have plenty of time to choose, it's never to late to go to college!
</P>

<p>	
	<ol>
		<li>Neuroscience</li>
		<li>Goverment</li>
		<li>Psychology</li>
		<li>Computer Science</li>
		<li>Biomedical Engineering</li>
		<li>Mathematics</li>
	</ol>
</p>
<h2> Information you'll need to get in</h2>
<p>
	it takes alot to get in do you have what it takes? 
	well it's time to find out!
</P>
	
<p>	
	a minimum gpa of 4.18 is required for harvard
	For SAT you need 1460-1510
	act scores of 33-35 are needed
</p>
<p>
	So do you think you have what it takes to get in and have you figured out what you want to major in?
	I hope this site helped you figure out your plan for the future!
{% endblock %}

<!-- https://tinyurl.cm/4rk7yvx4 -->