{% extends 'home/base.html' %}

{% block content %}
<h1>Washington State University</h1>
	<h3><p style="text-align: center;">Washington State University
	 offers a wide selection of majors, for you to choose from.
	</p>
	<a href="https://wsu.edu/"  >wsu.edu</a>
	<h2>Facts about WSU</h2>
<p>
	<ol>
		<li> WSU delivered $406.7 million in financial aid and scholarships for undergraduate students (2018-19). In the 2018-19 academic year, 76% of WSU undergraduates received some form of financial aid.</li>
		
		<li>WSU went though several name changes. From Weber State Academy to Weber Normal College. Yes, you read that right, normal. I had a hard time believing that It had the word normal in the name, but it was typical for teacher for colleges at the time.</li>
		
		<li>WSU's original name was Washington State Agricultural College and School of Sciences. It is located in Richland, Washington.
		
		<li> The mascot, Butch T. Cougar, was first seen in 1927.
		
		<li> In 1993, WSU Vancouver was one of the first institutions in the country to use interactive electronic classrooms. (classes via video)

	<h2>Possible Majors</h2>
<p>
	<ol>
		<li>Criminal Justice/Police Science</li>
		<li>Biochemistry</li>
		<li>Mathematics</li>
		<li>Accounting</li>
		<li>Digital Communication and Media/Multimedia</li>
		<li>Neuroscience</li>
		<li>Registered Nursing/Registered Nurse</li>
	</ol>
</p>

<h2> What you need to know to get in </h2>
<p>	
	<ol>
		<li>You need a GPA of 3.4 so you should mostly get A's and B's.</li>
		<li>You'll want a SAT score of 1000 or better, you should aim higher.</li>
		<li>Washington state doesn't have a minimum ACT requirement, but if you apply with a 20 or below you'll have a tough time getting in.</li>
	</ol>
</p>
	

{% endblock %}


<!-- http://minify.link/3Oy -->